@font-face {
    font-family: Montserrat;
    src: url('../fonts/Montserrat-Light.ttf');
}

@font-face {
    font-family: Montserrat-Bold;
    src: url('../fonts/Montserrat-Bold.ttf');
}

b, th{
    font-family: Montserrat-Bold;
}

.text-colcomp{
    color: #6699FF;
}

.bg-colcomp{
    background-color: #6699FF;
}

.btn-colcomp{
    background-color: #6699FF;
    color: white;
    cursor: pointer;
}

.darkColor{
    background-color: #1a1a1a;
}