

.header {
    background-color: #1a1a1a;
    color: white;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#avisadoCookies{
    width: 6rem;
}

.color-white{
  color: white;  
}

a.color-white, a.nav-link {
    letter-spacing: 3px;
    text-decoration: none;
    font-family: Montserrat;
    color: white;
}

img.mr-5{
    width: 120px;
}

.darkiHed{
    background-color: #1a1a1a;
}

.colorComp{
    background-color: #6699FF;
}

.darkColor{
    background-color: #1a1a1a;
}

a[class~='nav-link']:hover{
    transition: 0.5s;
    color: rebeccapurple;
}

/* Quitar borde del toggler */
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
