#cuerpo{
    font-family: Montserrat;
    color: white;
    padding-top: 7rem;

}


@media screen and (max-width:576px) { 

    .titu{
        font-size: 1.6rem;
    }

    .tituBig{
        font-size: 2rem;
    }
} 