#cuerpo{
    font-family: Montserrat;
    color: white;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

/* body{
    /* padding-top: 8rem; 
} */

#titulo{
    opacity: 1;
}


@media screen and (min-width:1280px) { 
    html, body{
        width: 100%;
        height: 100%;
        background-image: url(../img/tierra.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #1a1a1a;

    }

    #row1{
        background-image: url(../img/tierra.jpg);
        padding-top: 24rem;
        padding-bottom: 24rem;
    }

    #row2{
        min-height: 52rem;
    }
} 

@media screen and (min-width:576px) and (max-width:1280px){ 
    html, body{
        width: 100%;
        height: 100%;
        background-image: url(../img/tierraMed.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #1a1a1a;

    }

    #row1{
        background-image: url(../img/tierraXSmall.jpg);
        padding-top: 24rem;
        padding-bottom: 24rem;
    }

    #row2{
        min-height: 52rem;
    }
}

@media screen and (max-width:576px) { 
    html, body{
        width: 100%;
        height: 100%;
        background-image: url(../img/tierraXSmall.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #1a1a1a;

    }

    #row1{
        background-image: url(../img/tierraMed.jpg);
        padding-top: 14rem;
        padding-bottom: 13rem;
    }

    #row2{
        min-height: 36rem;
    }
} 