#cuerpo{
    font-family: Montserrat;
    color: white;
    padding-top: 7rem;
}

#alerta2{
    opacity: 0;
    transition: 0.5s;
}

@media screen and (min-width:1280px) { 
    html, body{
        width: 100%;
        height: 100%;
        background-image: url(../img/backRegistro.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #1a1a1a;

    }

    form i {
        position: absolute;
        margin-left: 10rem;
        margin-top: -30px;
        color: black;
        cursor: pointer;
    }
} 

@media screen and (min-width:576px) and (max-width:1280px){ 
    html, body{
        width: 100%;
        height: 100%;
        background-image: url(../img/backRegistroMED.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #1a1a1a;

    }

    form i {
        position: absolute;
        margin-left: 10rem;
        margin-top: -30px;
        color: black;
        cursor: pointer;
    }
}

@media screen and (max-width:576px) { 
    html, body{
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #1a1a1a;

    }

    form i {
        position: absolute;
        margin-left: 8rem;
        margin-top: -31px;
        color: black;
        cursor: pointer;
    }
} 