#cuerpo{
    font-family: Montserrat;
    color: white;
    padding-top: 5.6rem;
    /* min-height: 55rem; */

}

#img_electra{
    max-height: 50rem;
}


@media screen and (min-width:1280px) { 
    html, body{
        width: 100%;
        height: 100%;
        /* background-image: url(../img/tierra.jpg); */
        background-size: cover;
        background-repeat: no-repeat;

    }

    /* #titu1{
        position: sticky;
        top: 5rem;
        z-index: 1;
        transition: 0.5s;
    }

    #cuerpo{
        padding-top: 5rem;
    }*/

    #electra, #electra h5{
        font-size: 1rem;
    } 
} 

@media screen and (min-width:576px) and (max-width:1280px){ 
    html, body{
        width: 100%;
        height: 100%;
        /* background-image: url(../img/tierraMed.jpg); */
        background-size: cover;
        background-repeat: no-repeat;

    }
/* 
    #cuerpo{
        padding-top: 5.2rem;
    } */

    /* #titu1{
        position: sticky;
        top: 5.2rem;
        z-index: 1;
    }*/

    #electra, #electra h5{
        font-size: 1rem;
    } 
}

@media screen and (max-width:576px) { 
    html, body{
        width: 100%;
        height: 100%;
        /* background-image: url(../img/tierraXSmall.jpg); */
        background-size: cover;
        background-repeat: no-repeat;

    }

    /* #titu1{
        position: sticky;
        top: 5.6rem;
        z-index: 1;
    } */

    #electra, #electra h5{
        font-size: 0.8rem;
    }
} 