.cuerpo{
    font-family: Montserrat;
    color: white;
}

#cuerp1{
    padding-top: 5.3rem;
    
}

#img_electra{
    max-height: 50rem;
}


@media screen and (min-width:1280px) { 
    #row1{
        background-image: url(../img/backVehicle1.jpg);
        padding-top: 30rem;
        padding-bottom: 30rem;
    }

    #electra, #electra h5{
        font-size: 1rem;
    } 
} 

@media screen and (min-width:576px) and (max-width:1280px){ 
    #row1{
        background-image: url(../img/backVehicle1MD.jpg);
        padding-top: 30rem;
        padding-bottom: 30rem;
    }

    #electra, #electra h5{
        font-size: 1rem;
    } 
}

@media screen and (max-width:576px) { 

    #row1{
        background-image: url(../img/backVehicle1SM.jpg);
        padding-top: 30rem;
        padding-bottom: 30rem;
    }

    #electra, #electra h5{
        font-size: 0.8rem;
    }
} 