#cuerpo{
    font-family: Montserrat;
    color: white;
    background-color: black;
    padding-top: 10rem;
}

h5 a{
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

h5 a:hover{
    transition: 0.5s;
    text-decoration: none;
    color: #6699FF;
}

#img_atlas, #img_elect{
    max-width: 4rem;
}


@media screen and (max-width:576px) { 
    #cuerpo{
        padding-top: 14rem;
    }

    #img_atlas, #img_elect{
        max-width: 1.6rem;
    }

} 