#cuerpo{
    font-family: Montserrat;
    color: white;
    padding-bottom: 1.5rem;
}

.darkColor{
    background-color: #1a1a1a;
}

#contForm{
    max-width: 50rem;
}
#tablaResult{
    display: none;
}

#fs2, #fs1_5{
    display: none;
}

#alerta2{
    opacity: 0;
    transition: 0.5s;
}

select{
    width: 170px;
}


body{
  /* min-height: 50rem; */
  padding-top: 9.5rem;
}

@media screen and (min-width:1280px) { 
    html, body{
        width: 100%;
        height: 100%;
        background-image: url(../img/backVuela.jpg);
        background-size: cover;
        background-repeat: no-repeat;

    }
}

@media screen and (min-width:576px) and (max-width:1280px){ 
    html, body{
        width: 100%;
        height: 100%;
        background-image: url(../img/backVuelaMD.jpg);
        background-size: cover;
        background-repeat: no-repeat;

    }
}

@media screen and (max-width:576px) { 
    html, body{
        width: 100%;
        height: 100%;
        background-image: url(../img/backVuelaSM.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .dispMov{
        font-size: 1.8rem;
        /* display: none; */
    }
    .dispMovSub{
        font-size: 1rem;
        /* display: none; */
    }
} 
