#cuerpo{
    font-family: Montserrat;
    color: white;
    padding-bottom: 1.5rem;
}

.darkColor{
    background-color: #1a1a1a;
}

/* #tablaResult{
    display: none;
} */

.css-tooltip{
  position: relative;
  
}

/* Tooltip cargar datos */
.css-tooltip:hover:after{
  content:attr(data-tooltip);
  background:#000;
  padding:5px;
  border-radius:3px; 
  display: inline-block;
  position: absolute;
  transform: translate(-50%,-100%); 
  margin:0 auto;
  color:#FFF;
  min-width:100px;
  min-width:150px;
  top:-5px;
  left: -50%;
  text-align:center;
}
.css-tooltip:hover:before {
  top:-5px;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(0, 0, 0, 0);
  border-top-color: #000;
  border-width: 5px;
  margin-left: -5px;
       transform: translate(0,0px); 
}


/* Aniadir fs3 */
#fs2, #fs3, #fs4, #fs5{ 
    display: none;
}

#resumen{
    display: none;
}

#alerta2{
    opacity: 0;
    transition: 0.5s;
    /* position: fixed;
    z-index: 1;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
    
}

div[class~='col-12'] img{
    width: 220px;
}

#datosSeleccionados{
    font-size: 1.4rem;
    opacity: 0;
    transition: 0.5s;
}

/* .icon {
    padding-left: 25px;
    background: url("https://static.thenounproject.com/png/101791-200.png") no-repeat left;
    background-size: 20px;
} */

select{
    width: 170px;
}

.titulo1{
    font-size: 2.3rem;
}

/* IMPUTS */
/* input{
    background-color: #1a1a1a;
    width: 20rem;
    height: 3rem;
    color: white
} */


body{
  /* min-height: 50rem; */
  padding-top: 9rem;
  background-color: #1a1a1a;
}

@media screen and (min-width:1280px) { 
    html, body{
        width: 100%;
        height: 100%;
        background-image: url(../img/cargaImg.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #1a1a1a;
    }

    #datosSeleccionados{
        font-size: 1.1rem;
    }
}

@media screen and (min-width:576px) and (max-width:1280px){ 
    html, body{
        width: 100%;
        height: 100%;
        background-image: url(../img/cargaImgSmall.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #1a1a1a;
    }

    #datosSeleccionados{
        font-size: 1.1rem;
    }
}

@media screen and (max-width:576px) { 
    html, body{
        width: 100%;
        height: 100%;
        background-image: url(../img/cargaImgXSmall.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #1a1a1a;

    }

    .titulo1{
        font-size: 1.5rem;
    }

    .titulo2{
        font-size: 1rem;
    }

    #datosSeleccionados{
        font-size: 0.9rem;
    }

    /* #reinicio{
        margin-bottom: 1.5rem;
    } */
} 
