#cuerpo{
    font-family: Montserrat;
    color: white;
    position: absolute;
    margin-top: 8rem;
}

/* body{
    background: url(../img/tierra.jpg);
    background-repeat: no-repeat;
    background-size: 1920px; 
    /* COVER 
} */

@media screen and (min-width:1280px) { 
    html, body{
        width: 100%;
        height: 100%;
        background-image: url(../img/tierra.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #1a1a1a;

    }
} 

@media screen and (min-width:800px) and (max-width:1280px){ 
    html, body{
        width: 100%;
        height: 100%;
        background-image: url(../img/tierraMed.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #1a1a1a;

    }
}

@media screen and (max-width:800px) { 
    html, body{
        width: 100%;
        height: 100%;
        background-image: url(../img/tierraXSmall.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #1a1a1a;

    }
} 