#cuerpo{
    font-family: Montserrat;
    color: white;
    margin-top: 7rem;
    max-width: 60rem;
}

body{
    min-height: 30rem;
    padding-top: 0.1rem;
    background-color: #1a1a1a;
}


#alerta2{
    opacity: 0;
    transition: 0.5s;
}

@media screen and (min-width:1280px) { 
    html, body{
        width: 100%;
        height: 100%;
        background-image: url(../img/sunrise2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #1a1a1a;

    }
} 

@media screen and (min-width:576px) and (max-width:1280px){ 
    html, body{
        width: 100%;
        height: 100%;
        background-image: url(../img/sunrise2_MD.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #1a1a1a;

    }
}

@media screen and (max-width:576px) { 
    html, body{
        width: 100%;
        height: 100%;
        background-image: url(../img/sunrise2_SM.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #1a1a1a;

    }
} 